@import "tailwindcss";
@plugin "daisyui";
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-jp-chinos {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.dropdown-mobile {
  display: none;
}

@media (max-width: 550px) {
  .dropdown-mobile {
    display: block;
  }
}


