.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 600;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
}
.vt323-bold {
  font-family: "VT323", monospace;
  font-weight: 700;
  font-style: normal;
}

.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 500;
  font-style: normal;
}

.akaya-kanadaka-bold {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: bold;
  font-style: normal;
}


.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 500;
  font-style: normal;
}

.manufacturing-consent-bold {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 700;
  font-style: normal;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 500;
  font-style: normal;
}

.irish-grover-bold {
  font-family: "Irish Grover", system-ui;
  font-weight: 700;
  font-style: normal;
}



